body { background-color: #F5F5DC;
      color: #2E0000;
	  font-family: Verdana, Arial, sans-serif; 
	  background-image: url(javabackground.gif);
}
#wrapper { width: 80%;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #F5F5DC;
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 5px 5px 5px #2E0000;
}
header { background-color: #D2B48C;
}
h1 {  font-family: Georgia, "Times New Roman", serif;
     height: 100px;
     background-image: url(javalogo.gif);
	 background-position: center;
	 background-repeat: no-repeat;
	 text-indent: -9999px;
	 margin: 0;  }
nav { font-weight: bold; 
     text-align: center;
	 padding: 10px;
	 background-color: #E6D6A9;
}
nav a { text-decoration: none; }
main { padding: 20px; 
      display: block;}
h2 {  font-family: Georgia, "Times New Roman", serif;  }
h3 {  background-color: #E6D6A9;
     text-transform: uppercase; }
dt { font-weight: bold; }
ul { list-style-image: url(marker.gif); }
#hero { background-image: url(heroroad.jpg);
           height: 300px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
		   color: #F5F5DC;
}
.news { margin-left: 20%;
        margin-right: 20%;
}
footer { background-color: #D2B48C;
       color: #000000;
	   font-size: .60em;
	   font-style: italic;
	   text-align: center;
	   padding: 10px;
}	   